/* GENERALI */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.1;
  font-size: 1.2em;
}

/* HEADER */
.header {
  text-align: center;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  padding: 10px;
}

.header:after {
    content: "";
    display: table;
    clear: both;
  }

input,
button {
  border: 0;
  border-radius: 5px;
}

button {
  color: rgb(222, 222, 222);
  color: black;
}

button:hover {
    background-color: #ff9790;
    color: white;
  }




/* UL */
/*
ul {
  margin: 0;
  padding: 0;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}
*/