@import 'reset';
@import 'colori';
@import 'buttons';
@import 'font';
@import 'spaziature';
@import 'mixins';
@import 'animations';

html, body {
    margin: 0;
    padding: 0;
    box-sizing: $b-s-reset;
    line-height: $l-h-reset;
    font-size: $f-s-reset;
    width: $f-width;
    font-family: $arial;
}

// HEADER

header {
    width: $f-width;
}

.showcase-content {
    display: $inline;
    background-color: $bg-header1;
    background-image: $bg-header2;
    padding: 20px;
}

nav {
    background: $bg-nav1;
    background: $bg-nav2;
    padding: $p10;

 li {
    list-style: none;
    padding: $p10;
}

 a {
    color: $dark;
    text-decoration: $no-underline;
}
}

nav, nav ul {
    display: $inline;
}


// IMG
.translate-20 {
    width: $middle;
    margin: $p10;
}

.line-4 {
    padding: 15px;
    width: $f-width;
    display: flex;
    justify-content: space-between;

    img {
        width: 22%;
    }
}

// BUTTONS

button {
    transition-property: all;

    &:hover {
        color: $dark-blue;
    }

    a {
      color: $btn-text;
    text-decoration: $no-underline;  
    }
}

.btn-primary {
    @include buttons;
    background-color: $btn-approfondisci;
}

.btn-secondary {
    @include buttons;
    background-color: $btn-accedi;
}

.btn-tertiary {
    @include buttons;
    background-color: $btn-contattaci;
}