/* IMPOSTAZIONI GENERALI */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/sfondo.png);
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
}

/* HEADER */
.logo {
        width: 50%;

}

header {
    text-align: center;
}

/* MAIN */

b {
    color: purple;
}

.fa-solid {
    color: #ababab;
}

#sottotitolo {
    color: #ababab;
}

#box1 {
    background: linear-gradient(to bottom, #009EC4, #036D86)
    }

#box2 {
    background-color: white;
}

#box3 {
    background: linear-gradient(to bottom, #055567, #333637)
    }

#box1, #box2, #box3 {
    box-shadow: 5px 5px 5px #24232357;
    width: 90%;
    box-sizing: border-box;
    margin: 10px auto;
    padding: 20px;
}

.grey-box {
    width: 100%;
    box-sizing: border-box;
    margin: 10px auto;
    padding: 20px;
    background-color: #E3E3E3;
}

/* TABELLE */
table {
    border: 0 auto;
    border-collapse: collapse;
    width: 20%;
    margin: 0 auto;
    text-align: left;
}

td {
    border: 1px solid white;
}

table tr:first-child {
    background-color: blue;
    color: white;
}

table tr:nth-child(even) {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: rgb(230, 230, 230);
}

#top-tabella {
    text-align: center;
}

hr {
    border-color: blue;
}

/*VIDEO*/
iframe {
    border-radius: 20px;
    width: 100%;
}

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
