/* IMPOSTAZIONI GENERALI */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/sfondo.png);
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
}

/* HEADER */
.logo {
        width: 50%;
        margin-bottom: 20px;

}

header {
    text-align: center;
}

li {
    list-style: none;
}

/* MAIN */

b, .epicode {
    color: purple;
}

.fa-solid {
    color: #ababab;
}

#sottotitolo {
    color: #ababab;
}

#box1 {
    background: linear-gradient(to bottom, #009EC4, #036D86)
    }

#box2 {
    background-color: white;
}

#box3 {
    background: linear-gradient(to bottom, #055567, #333637)
    }

#box1, #box2, #box3 {
    box-shadow: 5px 5px 5px #24232357;
    width: 90%;
    box-sizing: border-box;
    margin: 10px auto;
    padding: 20px;
}

.grey-box {
    width: 100%;
    box-sizing: border-box;
    margin: 10px auto;
    padding: 20px;
    background-color: #E3E3E3;
}

/* TABELLE */
table {
    border: 0 auto;
    border-collapse: collapse;
    width: 20%;
    margin: 0 auto;
    text-align: left;
}

td {
    border: 1px solid white;
}


thead tr:first-child {
    background-color: blue;
    color: white;
}


caption {
    background-color: white;
    color: black;
}

thead tr {
    background-color: blue;
    color: white;
}

table tr:nth-child(even) {
    background-color: rgb(230, 230, 230);
}

tr:nth-child(odd) {
    background-color: white;
}

#top-tabella {
    text-align: center;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #3f6bca;
}

/*VIDEO*/
iframe {
    border-radius: 20px;
    width: 100%;
}

/* FORM */

#form {
    display: inline;
}

fieldset {
    border: solid #E3E3E3;
}

button {
    background-color: blue;
    color: white;
    border: none;
}

a {
    color: blue;
}

#email {
    border: none;
}

/* ELEMENTI NELL' ASIDE */

.fas, .fa-solid {
    color: #000000;
}

#calendar {
    text-align: right;
}

/* FOOTER */

footer {
    color: white;
    text-align: center;
}

footer a {
    color: fuchsia;
}