.btn {
    display: inline-block;
    border-radius: 5px;
    margin: 3px;
    transition: trasform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}

$btn-color: (
    primary: map-get($setColors, primaryColor),
    secondary: map-get($setColors, secondaryColor),
    tertiary: map-get($setColors, tertiaryColor),
);

// CICLO

@each $key, $value in $btn-color {
    .btn-#{$key} {
        background-color: $value;           
        color: map-get($setColors, textLight)
    }
}
// per ogni coppia chiave-valore (in questo ordine) che trovi nella variabile ".btn", crea una classe che ha come prefisso "button-" e a ogni classe assegna un background-color del valore che avrà "$value"
